.App {
  text-align: center;
  position: relative;
}

.bg {
  width: 1438px;
  height: 707px;
}

.start {
  width: 100px;
  height: 100px;
  left: 680px;
  top: 300px;
  position: absolute;
  z-index: 1000;
}
.coin1 {
  width: 100px;
  height: 100px;
  left: 680px;
  top: 50px;
  position: absolute;
  z-index: 1000;
  animation-name: to1;
  animation-duration: 20s;
}
.coin2 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 920px;
  top: 190px;
  animation-name: to2;
  animation-duration: 22s;
}
.coin3 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 920px;
  top: 405px;
  animation-name: to3;
  animation-duration: 24s;
}
.coin4 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 680px;
  top: 540px;
  animation-name: to4;
  animation-duration: 24s;
}
.coin5 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 440px;
  top: 405px;
  animation-name: to5;
  animation-duration: 26s;
}
.coin6 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 440px;
  top: 190px;
  animation-name: to6;
  animation-duration: 24s;
}
.coin7 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  left: 440px;
  top: 190px;
  animation-name: earth;
  animation-duration: 10s;
}

/* Standard syntax */
@keyframes to1 {

  0%   {  left: 680px;  top: 300px;} /*center*/
  5%   {  left: 920px;  top: 405px;} /*br*/
  15%  {  left: 440px;  top: 405px;} /*tr*/
  20%  {  left: 920px;  top: 190px;} /*tl*/
  25%  {  left: 680px;  top: 540px;} /*bl*/
  30%  {  left: 680px;  top: 300px;} /*bc*/
  35%  {  left: 680px;  top: 540px;} /*tc*/
  40%  {  left: 440px;  top: 405px;} /*center*/
  45%  {  left: 920px;  top: 405px;} /*br*/
  50%  {  left: 920px;  top: 190px;} /*tr*/
  55%  {  left: 440px;  top: 190px;} /*tl*/
  60%  {  left: 920px;  top: 190px;} /*center*/
  65%  {  left: 440px;  top: 405px;} /*br*/
  75%  {  left: 920px;  top: 405px;} /*tr*/
  70%  {  left: 920px;  top: 405px;} /*tl*/
  75%  {  left: 440px;  top: 405px;} /*bl*/
  80%  {  left: 920px;  top: 405px;} /*bc*/
  85%  {  left: 440px;  top: 190px;} /*tc*/
  90%  {  left: 680px;  top: 540px; } /*center*/
  95%  {  left: 680px;  top: 540px;} /*br*/
  100% {  left: 680px;  top: 50px;} /*tr*/
}
@keyframes to2 {

  0%   {  left: 680px;  top: 300px;}
  5%   {  left: 680px;  top: 50px;}
  10%  {  left: 440px;  top: 405px;}
  15%  {  left: 920px;  top: 190px;}
  20%  {  left: 680px;  top: 50px;}
  25%  {  left: 440px;  top: 190px;}
  30%  {  left: 920px;  top: 405px;}
  35%  {  left: 680px;  top: 50px;}
  40%  {  left: 440px;  top: 190px;}
  45%  {  left: 920px;  top: 190px;}
  50%  {  left: 440px;  top: 405px;}
  55%  {  left: 680px;  top: 50px;}
  60%  {  left: 920px;  top: 405px;}
  65%  {  left: 440px;  top: 405px;}
  70%  {  left: 440px;  top: 405px;}
  75%  {  left: 920px;  top: 190px;}
  80%  {  left: 440px;  top: 405px;}
  85%  {  left: 680px;  top: 540px;}
  90%  {  left: 440px;  top: 405px;}
  95%  {  left: 920px;  top: 190px;}
  100% {  left: 920px;  top: 190px;}
}

@keyframes to3 {
0% {  left: 680px;  top: 300px;}
5% {  left: 440px;  top: 190px;}
10% {  left: 920px;  top: 190px;}
15% {  left: 440px;  top: 190px;}
20% {  left: 680px;  top: 50px;}
25% {  left: 680px;  top: 540px;}
30% {  left: 920px;  top: 190px;}
35% {  left: 680px;  top: 540px;}
40% {  left: 440px;  top: 190px;}
45% {  left: 440px;  top: 405px;}
50% {  left: 680px;  top: 50px;}
55% {  left: 440px;  top: 405px;}
60% {  left: 440px;  top: 405px;}
65% {  left: 920px;  top: 405px;}
70% {  left: 680px;  top: 50px;}
75% {  left: 440px;  top: 405px;}
80% {  left: 680px;  top: 540px;}
85% {  left: 680px;  top: 540px;}
90% {  left: 920px;  top: 190px;}
95% {  left: 440px;  top: 405px;}
100% {  left: 920px;  top: 405px;}
}
@keyframes to4 {
  0% {  left: 680px;  top: 300px;}
  5% {  left: 680px;  top: 540px;}
  10% {  left: 680px;  top: 50px;}
  15% {  left: 440px;  top: 405px;}
  20% {  left: 680px;  top: 50px;}
  25% {  left: 920px;  top: 190px;}
  30% {  left: 680px;  top: 50px;}
  35% {  left: 440px;  top: 405px;}
  40% {  left: 440px;  top: 405px;}
  45% {  left: 920px;  top: 405px;}
  50% {  left: 920px;  top: 190px;}
  55% {  left: 920px;  top: 190px;}
  60% {  left: 440px;  top: 190px;}
  65% {  left: 920px;  top: 405px;}
  70% {  left: 680px;  top: 50px;}
  75% {  left: 680px;  top: 540px;}
  80% {  left: 440px;  top: 405px;}
  85% {  left: 920px;  top: 190px;}
  90% {  left: 920px;  top: 190px;}
  95% {  left: 440px;  top: 405px;}
  100% {  left: 680px;  top: 540px;}
}
@keyframes to5 {
0% {  left: 680px;  top: 300px;}
5% {  left: 680px;  top: 50px;}
10% {  left: 680px;  top: 540px;}
15% {  left: 440px;  top: 190px;}
20% {  left: 680px;  top: 540px;}
25% {  left: 920px;  top: 190px;}
30% {  left: 440px;  top: 405px;}
35% {  left: 440px;  top: 190px;}
40% {  left: 440px;  top: 405px;}
45% {  left: 440px;  top: 190px;}
50% {  left: 440px;  top: 405px;}
55% {  left: 920px;  top: 190px;}
60% {  left: 920px;  top: 190px;}
65% {  left: 920px;  top: 190px;}
70% {  left: 680px;  top: 50px;}
75% {  left: 680px;  top: 540px;}
80% {  left: 440px;  top: 405px;}
85% {  left: 920px;  top: 190px;}
90% {  left: 440px;  top: 190px;}
95% {  left: 680px;  top: 50px;}
100% {  left: 440px;  top: 405px;}
}
@keyframes to6 {
  0% {  left: 680px;  top: 300px;}
  5% {  left: 920px;  top: 190px;}
  10% {  left: 440px;  top: 190px;}
  15% {  left: 440px;  top: 405px;}
  20% {  left: 680px;  top: 540px;}
  25% {  left: 440px;  top: 405px;}
  30% {  left: 440px;  top: 190px;}
  35% {  left: 440px;  top: 405px;}
  40% {  left: 440px;  top: 190px;}
  45% {  left: 920px;  top: 190px;}
  50% {  left: 680px;  top: 540px;}
  55% {  left: 680px;  top: 50px;}
  60% {  left: 680px;  top: 540px;}
  65% {  left: 440px;  top: 405px;}
  70% {  left: 440px;  top: 190px;}
  75% {  left: 440px;  top: 405px;}
  80% {  left: 920px;  top: 405px;}
  85% {  left: 440px;  top: 190px;}
  90% {  left: 920px;  top: 405px;}
  95% {  left: 440px;  top: 405px;}
  95% {  left: 440px;  top: 190px;}
}
@keyframes earth {
  0%{  left: 680px;  top: 300px;}
2% {left: 810px; top: 234px;}
4% {left: 695px; top: 150px;}
6% {left: 835px; top: 448px;}
8% {left: 608px; top: 284px;}
10% {left: 514px; top: 59px;}
12% {left: 595px; top: 128px;}
14% {left: 691px; top: 356px;}
16% {left: 802px; top: 366px;}
18% {left: 654px; top: 98px;}
20% {left: 487px; top: 215px;}
22% {left: 599px; top: 351px;}
24% {left: 838px; top: 357px;}
26% {left: 652px; top: 178px;}
28% {left: 784px; top: 144px;}
30% {left: 765px; top: 373px;}
32% {left: 451px; top: 404px;}
34% {left: 795px; top: 124px;}
36% {left: 585px; top: 147px;}
38% {left: 751px; top: 437px;}
40% {left: 687px; top: 365px;}
42% {left: 793px; top: 83px;}
44% {left: 630px; top: 133px;}
46% {left: 826px; top: 148px;}
48% {left: 463px; top: 205px;}
50% {left: 762px; top: 365px;}
52% {left: 738px; top: 318px;}
54% {left: 768px; top: 205px;}
56% {left: 584px; top: 85px;}
58% {left: 612px; top: 309px;}
60% {left: 555px; top: 265px;}
62% {left: 778px; top: 324px;}
64% {left: 783px; top: 149px;}
66% {left: 544px; top: 213px;}
68% {left: 561px; top: 68px;}
70% {left: 719px; top: 112px;}
72% {left: 570px; top: 247px;}
74% {left: 837px; top: 100px;}
76% {left: 832px; top: 268px;}
78% {left: 676px; top: 148px;}
80% {left: 744px; top: 64px;}
82% {left: 548px; top: 145px;}
84% {left: 521px; top: 219px;}
86% {left: 451px; top: 348px;}
88% {left: 576px; top: 250px;}
90% {left: 604px; top: 142px;}
92% {left: 616px; top: 114px;}
94% {left: 460px; top: 204px;}
96% {left: 505px; top: 102px;}
98% {left: 624px; top: 313px;}
100% {left: 495px; top: 318px;}
}





// // best in chrome
// $total: 300; // total particles
// $orb-size: 300px;
// $particle-size: 3px;
// $time: 14s;
// $base-hue: 0; // change for diff colors (180 is nice)

// // html, body {
// //   height: 100%;
// // }

// // body {
// //   background: black;
// //   overflow: hidden; // no scrollbars..
// // }

// .wrap {
//   position: absolute;
//   top: 350px;
//   left: 725px;
//   width: 0;
//   height: 0;
//   transform-style: preserve-3d;
//   perspective: 1000px;
//   animation: rotate $time infinite linear; // rotate orb
// }

// @keyframes rotate {
//   100% {
//     transform: rotateY(360deg) rotateX(360deg);
//   }
// }

// .c {
//   position: absolute;
//   width: $particle-size;
//   height: $particle-size;
//   border-radius: 50%;
//   opacity: 0;
// }

// @for $i from 1 through $total {
//   $z: (random(360) * 1deg); // random angle to rotateZ
//   $y: (random(360) * 1deg); // random to rotateX
//   $hue: ((40 / $total * $i) + $base-hue); // set hue

//   .c:nth-child(#{$i}) {
//     // grab the nth particle
//     animation: orbit#{$i} $time infinite;
//     animation-delay: ($i * 0.01s);
//     background-color: hsla($hue, 100%, 50%, 1);
//   }

//   @keyframes orbit#{$i} {
//     20% {
//       opacity: 1; // fade in
//     }
//     30% {
//       transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
//     }
//     80% {
//       transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
//       opacity: 1; // hold opacity 20-80
//     }
//     100% {
//       transform: rotateZ(-$z) rotateY($y) translateX(($orb-size * 3))
//         rotateZ($z); // translateX * 3
//     }
//   }
// }
// {  left: 440px;  top: 190px;}
// {  left: 920px;  top: 405px;}
// {  left: 440px;  top: 405px;}
// {  left: 920px;  top: 190px;}
// {  left: 680px;  top: 540px;}
// {  left: 680px;  top: 300px;}
// {  left: 680px;  top: 300px;}
// {  left: 680px;  top: 50px; }
// {  left: 920px;  top: 405px;}
// {  left: 920px;  top: 190px;}
// {  left: 440px;  top: 190px;}
// {  left: 920px;  top: 190px;}
// {  left: 680px;  top: 300px;}
// {  left: 920px;  top: 405px;}
// {  left: 920px;  top: 405px;}
// {  left: 440px;  top: 405px;}
// {  left: 920px;  top: 405px;}
// {  left: 440px;  top: 190px;}
// {  left: 680px;  top: 50px; }
// {  left: 680px;  top: 300px;}
// {  left: 680px;  top: 540px;}